.login_module{
    display: flex;
    justify-content: center;
    color: white;
    height: 90vh;
    align-items: center;
}

.login_module tr td{
    padding: 20px;
    font-size: larger;
    text-align: left;
    text-transform: uppercase;
}

.login_module tr td input[type="text"]{
    padding: 10px;
    background: transparent;
}

.login_module tr td input[type="text"]:focus{
    outline: none;
    border: 2px solid transparent;
    border-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    border-image-slice: 1;
    color: white;
}

.login_module tr td:nth-child(1){
    text-align: right;
}

.login_module tr td input[type="submit"]{
    padding: 5px;
    border-radius: 10px;
    background: transparent;
    color: white;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    border-image-slice: 1;
}
