.container{
    width: 1140px;
    margin: 0 auto;
}

.card_display{
    display: block;
    
}

.card_display h1{
    text-align: center;
    margin: 30px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

.card h3, .cart_card h3{
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}
.cart_card{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    
}

.cart_card button{
    padding: 3px;
}

.card li, .cart_card li{
    margin: 20px;
    transform: scale(1);
    transition: all 0.3s linear;
    overflow: hidden;
    width: 215px;
}

.card li:hover, .cart_card li:hover{
    transform: scale(1.1);
}

.card li img{
    box-shadow: 0 0 10px gray;
}

.show{
    display: flex;
    justify-content: space-between;
}

.show img{
    margin: 10px;
}

.content{
    display: flex;
    flex-direction: column;
}

.content ul{
    list-style: none;
 
}

.content ul li{
    display: inline-block;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.content h1, .content div, .content ul{
    margin-bottom: 10px;
}

.content button{
    padding: 5px;
    border-radius: 2px;
}