.container{
    width: 1140px;
    margin: 0 auto;
}

.card_display{
    display: block;
}

.card{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.card li{
    margin: 10px;
    transform: scale(1);
    transition: all 0.5s linear;
}

.card li:hover{
    transform: scale(1.1);
}