.header {
    top: 0px;
    left: 50%;
    margin-left: -735px;
    position: fixed;
    width: 92rem;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.header_corner {
    display: flex;
    align-items: center;
    list-style: none;
}
.header_corner2 {
    display: flex;
    align-items: center;
    list-style: none;
}

.header_child {
    padding: 10px;
    width: 100%;
}
.header ul{
    position: relative;
}
.header ul li::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    background: red;
    transform: skewX(-40deg);
    z-index: -1;
}

.header ul li:hover::before{
    opacity: 1;
}

.header_child button{
    padding: 3px;
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1em;
    color: black; 
}
.header_child input[type="text"] {
    border: none;
    outline: none;
    width: 70px;
    transition:all 0.3s linear;
    padding:5px;
    border-radius: 10px;
}
.header_child input[type="text"]:focus {
    width:200px;
}
.cart_counter{
    padding: 2px 5px;
    
}
