.popup{
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px;
    margin: 0 10px 10px;  
}

.popup_heading{
    margin: 0 10px 10px 10px;
    font-size: 1.5em;
    font-weight: BOLD;
}

.popup_content{
    display: flex;
}

.popup_content ul{
    list-style: none;
}